<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/style/style_2.css">
    <title>Document</title>
</head>
<body>
    <header>
        <ul class="navbar">
          <li><a href="../index.html">Star Artist V2</a></li>
          <li>
            <a href="../templates/pages/contact.html" id="contact">Contact</a>
            <a href="gallery.html">Galerie</a>
          </li>
        </ul>
        <hr />
      </header>

      
</body>
</html>