@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=Hind+Madurai:wght@300&family=Montserrat:wght@700&display=swap");
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  width: 100%;
  background: black;
}
body{
    width: 100%;
    height: 100%;
    background-color: black;
}
header {
    color: white;
    backdrop-filter: blur(100px);
    z-index: 2;
    height: 8vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    font-size: 1.3rem;
    font-style: bold;
    margin: 0;
    padding-right: 0;
    user-select: none;
  }
  .navbar {
    margin-left: 0;
    padding-left: 0%;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    height: 8vh;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-weight: bold;
  }
  .intro {
    padding-top: 30vh;
    padding-bottom: 30vh;
  }
  hr {
    margin-bottom: 0;
    margin-top: 0;
    width: 98%;
    color: white;
  }
  .ul {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    text-decoration: none;
  }
  li {
    list-style: none;
    display: inline-block;
    padding-top: 1.8vh;
    font-weight: bold;
    color: antiquewhite;
    padding-left: 13px;
    padding-right: 13px;
  }
  a {
    font-family: "Hind Madurai", sans-serif;
    text-align: center;
  }
  a:link {
    text-decoration: none;
    color: white;
  }
  a:visited {
    color: white;
  }
  a:hover {
    color: red;
  }
  .contact {
    padding-right: 13px;
  }