@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=Hind+Madurai:wght@300&family=Montserrat:wght@700&display=swap");
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  width: 100%;
  background: black;
}
body {
  font-size: larger;
  z-index: -1;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding-right: 0;
  display: flexbox;
  align-items: center;
  flex-direction: row;
  justify-items: center;
  gap: 2vh;
}
header {
  color: white;
  backdrop-filter: blur(100px);
  z-index: 2;
  height: 8vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  font-size: 1.3rem;
  font-style: bold;
  margin: 0;
  padding-right: 0;
  user-select: none;
}
.navbar {
  margin-left: 0;
  padding-left: 0%;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  height: 8vh;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-weight: bold;
}
.intro {
  padding-top: 30vh;
  padding-bottom: 30vh;
}
hr {
  margin-bottom: 0;
  margin-top: 0;
  width: 98%;
  color: white;
}
.ul {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  list-style: none;
  text-decoration: none;
}
li {
  list-style: none;
  display: inline-block;
  padding-top: 1.8vh;
  font-weight: bold;
  color: antiquewhite;
  padding-left: 13px;
  padding-right: 13px;
}
a {
  font-family: "Hind Madurai", sans-serif;
  text-align: center;
}
a:link {
  text-decoration: none;
  color: white;
}
a:visited {
  color: white;
}
a:hover {
  color: red;
}
.contact {
  padding-right: 13px;
}
.cards {
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  grid-template-columns: auto;
  position: static;
  padding-top: 1rem;
  user-select: none;
}
.card1 {
  background-image: url("../images/Galery/project_1.jpg");
  border: 0.2rem solid rgb(255, 255, 255);
  /*background-color: #3f3f41;8*/
  background-size: cover;
  height: 40vh;
  width: 90vw;
  border-radius: 2.5rem;
  display: flex;
  align-items: flex-end;
}
.card2 {
  background-image: url("../images/Galery/project_2.jpg");
  border: 0.2rem solid rgb(255, 255, 255);
  background-size: cover;
  height: 40vh;
  width: 90vw;
  border-radius: 2.5rem;
  display: flex;
  align-items: flex-end;
}
.card3 {
  background-image: url("../images/Galery/project_3.jpg");
  border: 0.2rem solid rgb(255, 255, 255);
  background-size: cover;
  height: 40vh;
  width: 90vw;
  border-radius: 2.5rem;
  display: flex;
  align-items: flex-end;
}
img {
  width: 100%;
  height: auto;
  z-index: -1;
  object-fit: fill;
  aspect-ratio: 4/3;
  border-radius: 2.5rem;
}
#icon {
  margin-top: 1vh;
  aspect-ratio: 2/2;
  height: 10rem;
  width: 100%;
  border-radius: 24px;
  display: flex;
  align-items: center;
}
.title {
  margin-left: 1rem;
  font-family: "Montserrat", sans-serif;
}
.answer {
  font-family: "Montserrat", sans-serif;
  display: flex;
  text-align: end;
  padding-right: 2vw;
}
h1 {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  z-index: 0;
  text-align: left;
  border-radius: 2.5rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  height: 4rem;
  margin: 0;
  padding-left: 2rem;
  font-size: 1.8rem;
  font-weight: normal;
  color: white;
  backdrop-filter: blur(12px);
  display: flex;
  align-items: center;
  user-select: none;
}
h1:hover {
  font-size: 2rem;
  height: 5rem;
  color: pink;
  transition-timing-function: ease-in-out;
}
h2 {
  font-weight: bold;
  color: white;
  font-size: 3rem;
  user-select: none;
  font-family: "Hind Madurai", sans-serif;
}
h3 {
  color: white;
  text-align: center;
  font-family: "Hind Madurai", sans-serif;
  font-kerning: normal;
}
h4 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  color: white;
  text-align: center;
}
p {
  color: white;
  text-align: center;
  margin: 2vh;
  margin-bottom: 0;
}
input {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 1rem;
  vertical-align: middle;
}
.footer {
  display: grid;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}
.social {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0;
  margin-left: 1rem;
  margin-right: 1rem;
}
input {
  background-color: rgb(214, 214, 214);
  color: black;
  font-size: 1rem;
}
.email_imput {
  height: 3.2vh;
  width: 40vw;
  border-radius: 2rem;
  border: 0ch;
  padding-left: 3vw;
  font-family: "Hind Madurai", sans-serif;
}
textarea {
  height: 10vh;
  width: 60vw;
  border-radius: 1rem;
  border: 0ch;
  padding-left: 2vw;
  padding-top: 1vh;
  font-family: "Hind Madurai", sans-serif;
  background-color: rgb(214, 214, 214);
  outline: none;
  resize: none;
  overflow: auto;
}
.send_b {
  color: black;
  background-color: rgb(235, 42, 42);
  height: 4vh;
  width: 15vw;
  border-radius: 1.2rem;
  font-weight: bold;
  font-size: 1rem;
  border: 0;
  margin-bottom: 1vh;
}
.vertical {
  transform: rotate(90deg);
  width: 16vh;
  height: 0;
  margin-top: 9vh;
  margin-bottom: 9vh;
  display: block;
  z-index: 0;
}
.decoration {
  display: flex;
  flex-direction: column;
  flex: content;
}
@media only screen and (min-width: 1200px) {
  .cards {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 10vh;
    padding-bottom: 10vh;
    flex-wrap: wrap;
  }
  .card1 {
    width: 20vw;
  }
  .card2 {
    width: 20vw;
  }
  .card3 {
    width: 20vw;
  }
  #button_more {
    padding-top: 10vh;
    font-size: 1.5rem;
  }
  .break {
    flex-basis: 100%;
  }
  .insta {
    padding-top: 10vh;
    padding-bottom: 10vh;
  }
  form {
    padding-top: 10vh;
    padding-bottom: 10vh;
  }
  textarea {
    width: 30vw;
    height: 15vh;
  }
  .email_imput {
    width: 19vw;
    padding-left: 1vw;
  }
}
