<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style/style.css" />
    <link rel="stylesheet" href="../static/script/app.js" />
    <title>Star Artist V2</title>
  </head>
  <header>
    <ul class="navbar">
      <li><a href="../templates/index.html">Star Artist V2</a></li>
      <li>
        <a href="../templates/pages/contact.html" id="contact">Contact</a>
        <a href="../templates/pages/gallery.html">Galerie</a>
      </li>
    </ul>
    <hr />
  </header>
  <body>
    <h2 class="title">Cauti o echipa profesionista de incredere?</h2>
    <h2 class="answer">Suntem mereu aici, la datorie</h2>
    <hr />
    <div class="cards">
      <div class="card1">
        <h1>Project 1</h1>
      </div>
      <div class="card2">
        <h1>Project 2</h1>
      </div>
      <div class="card3">
        <h1>Project 3</h1>
      </div>
      <button>Mai multe proiecte</button>
    </div>
    <hr />
    <form type="text" action="">
      <p>Trimite-ne un email</p>
      <input type="email" />
      <input type="text" />
      <button>Send</button>
    </form>
  </body>
  <footer>
    <hr />
    <h3>Social media</h3>
    <ul class="social">
      <li><a href="">facebook</a></li>
      <li><a href="">instagram</a></li>
      <li><a href="">email</a></li>
    </ul>
  </footer>
</html>
