<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style/style.css" />
    <link rel="" href="../static/script/app.js" />
    <title>Star Artist V2</title>
    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Sans&family=Hind+Madurai:wght@300&family=Montserrat:wght@700&display=swap"
      rel="stylesheet"
    />
  </head>
  <header>
    <ul class="navbar">
      <li><a href="../templates/index.html">Star Artist V2</a></li>
      <li>
        <a href="../templates/pages/contact.html" id="contact">Contact</a>
        <a href="../templates/pages/gallery.html">Galerie</a>
      </li>
    </ul>
    <hr />
  </header>
  <body>
    <h2 class="title">Cauti o echipa profesionista de incredere?</h2>
    <h2 class="answer">Suntem mereu aici, pentru  tine</h2>
    <hr />
    <hr class="vertical" />
    <hr />
    <div class="cards">
      <div class="card1">
        <h1>Project 1</h1>
      </div>
      <div class="card2">
        <h1>Project 2</h1>
      </div>
      <div class="card3">
        <h1>Project 3</h1>
      </div>
      <a href="../templates/pages/gallery.html">Mai multe proiecte</a>
    </div>
    <div class="decoration">
      <hr />
      <hr class="vertical" />
      <hr />
    </div>
    <div class="horizontal">
      <p>Da-ne un mesaj aici</p>
      <div class="Insta">
        <img src="../static/images/Svg/Square.svg" alt="" id="icon">
        <h4>@star_artist_dej</h4>
      </div>
      <hr>
    </div>

    <form type="text" action="">
      <p>Trimite-ne un email</p>
      <input type="email" class="email_imput" placeholder="Email" />
      <textarea
        name=""
        id=""
        cols="50"
        rows="10"
        placeholder="Enter message"
        wrap="off"
      ></textarea>
      <button class="send_b">Trimite</button>
    </form>
  </body>
  <footer>
    <hr />
    <h3>Social media</h3>
    <ul class="social">
      <li><a href="">Facebook</a></li>
      <li><a href="">Instagram</a></li>
      <li><a href="">Email</a></li>
    </ul>
  </footer>
</html>
